
select {
  font-family: "Hachi Maru Pop", cursive;
  font-weight: 400;
  font-style: normal;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.font-button {
  height: 4em;
  white-space: pre-wrap;
  padding: 0;
  display: flex;
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  margin: 1px;
  overflow: hidden;
}

.font-button:hover {
  border: 1px solid #827867;
}

.font-button:disabled {
  background-color: #fce8c4;
  border: 1px solid #ffbf51;
  color: #000000;
}

.font-preview {
  width: 4em;
  white-space: nowrap;
  align-content: center;
  text-align: center;
}

.font-preview-content {
  letter-spacing: -.1em;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

.font-name {
  width: 120px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
  text-align: left;
  padding: 3px;
}