body {
  background-color: #f6ebde;
  padding: 30px 15px;
  color: #4e2600;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0;
  padding: 5px;
  font-size: 0.8em;;
  color: #ffffff;
  background-color: #583a11;
}

.text {
  width: 140px;
  height: 128px;
}

.emoji-preview {
  margin: 0 auto;
  background-color: #f0f0f0;
  border: 1px solid rgb(126, 67, 0);
  border-radius: 5px;
  height: 128px;
}

.font-button {
  height: 4em;
  white-space: pre-wrap;
  padding: 0;
  display: flex;
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  margin: 1px;
  overflow: hidden;
}

.font-button:hover {
  border: 1px solid #827867;
}

.font-button:disabled {
  background-color: #fce8c4;
  border: 1px solid #ffbf51;
  color: #000000;
}

.font-preview {
  width: 4em;
  white-space: nowrap;
  align-content: center;
  text-align: center;
}

.font-preview-content {
  letter-spacing: -.1em;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

.font-name {
  width: 120px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
  text-align: left;
  padding: 3px;
}